/* homepage.css */

.home-container {
  display: flex; /* Use flexbox layout */
  height: 100vh; /* Full viewport height */
}

.sidebar {
  background-color: var(--card-bg-color);
  width: 1fr; /* Fixed width for the sidebar */
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: space-between; /* Evenly space buttons */
  transition: width 0.3s; /* Smooth width transition */
  overflow: hidden; /* Prevent overflow */
}

.sidebar.collapsed {
  width: 60px; /* Width when collapsed */
  overflow: auto; /* Allow scrolling when sidebar is collapsed */
  transition: width 0.3s; /* Smooth width transition */
}

.sidebar-button.active {
  background-color: #357abd;
  opacity: 0.8; /* Increased opacity for active buttons */
}

.main-content {
  flex-grow: 1; /* Fill the remaining space */
  padding: 1rem;
  background-color: var(--bg-gradient-end);
  display: flex;
  flex-direction: column; /* Stack main content vertically */
}

.sidebar-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px; /* Adjusted padding for buttons */
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1.5rem; /* Increased spacing between buttons */
  transition: background-color 0.3s, opacity 0.3s; /* Transition for background color and opacity */
}

.sidebar-button:hover {
  background-color: #357abd;
}

.settings-button {
  margin-top: auto; /* Always keep settings button at the bottom */
  padding: 2px;
}

.header-title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.sensors-section,
.alarms-section {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--card-bg-color);
  border-radius: 10px;
}

.sensor-cards-container,
.alarm-cards-container {
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center cards in the section */
  flex-wrap: wrap; /* Allow wrapping to next line if needed */
}
.sensor-card,
.alarm-card {
  background-color: #383838;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  display: flex; /* Enable flex layout */
  flex-direction: column; /* Stack contents vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  width: 150px; /* Set a fixed width for the cards */
  height: 200px; /* Ensure both types have the same height */
}

.sensor-icon,
.alarm-icon {
  width: 60px; /* Set a fixed width for icons */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between icon and text */
  max-width: 100%; /* Ensure it doesn't exceed the parent width */
  display: block; /* Ensure it behaves like a block element */
  margin: 0 auto; /* Center the icon horizontally */
}

.alarm-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  font-size: 12px; /* Match font size */
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 0; /* Spacing between buttons */
}

.last-triggered-text {
  padding-top: 10px;
  font-size: 12px; /* Make the text smaller */
  color: #bbb; /* Set a light gray color */
  margin-top: auto; /* Push the text to the bottom of the card */
}

.alarm-button:hover {
  background-color: #357abd;
}

.alarm-icon {
  width: 60px; /* Set a fixed width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the parent width */
  display: block; /* Ensure it behaves like a block element */
  margin: 0 auto; /* Center the icon horizontally */
}

