/* styles/register.css */
.error-messages {
  background-color: #ffe6e6; /* Light red background for better visibility */
  border: 1px solid #ff0000; /* Red border */
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.error {
  color: #ff0000; /* Red text for errors */
  margin-bottom: 5px; /* Space between error messages */
  font-weight: bold;
}

.link-to-sign-in {
  margin-top: 1rem;
  text-align: center;
  color: var(--text-color);
}

.link-to-sign-in a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}

.link-to-sign-in a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

